.slider__container {
  overflow: hidden;
  height  : 100%;
  width   : 100%;
}

.slider {
  height         : 100%;
  display        : flex;
  align-items    : center;
  justify-content: center;
  position       : relative;
}

.slider__list {
  height     : 100%;
  width      : 100%;
  padding-top: 1%;
  display    : flex;
  position   : relative;
  transition : right .4s;
}

.slider__item {
  height     : 100%;
  width      : 100%;
  display    : flex;
  position   : relative;
  align-items: center;
}