.slogan {
  width      : 50%;
  padding-top: rem(30px);
  
  @include tablets {
      padding-top: 0;
      width      : 75%;
  }
}

.slogan__image {
  max-width: 95%;
}

.slogan__big-burger, .slogan__text {
  display   : flex;
  flex-basis: 50%;
}

.slogan__text {
  color         : #ffffff;
  font-family   : Lifehack;
  font-size     : rem(65px);
  font-weight   : 500;
  letter-spacing: -1.63px;
  line-height   : 1;
  @include tablets {
    text-align: center;
  }
  @include phones {
    font-size: rem(54px);
  }
}

.slogan__description {
  flex-direction : column;
  justify-content: center;
  padding-left   : rem(10px);
  @include tablets {
    padding-left: 0;
    max-width   : rem(460px);
  }
}