.hero {
  background-image   : url("./../img/main/bg-texture.jpg");
  background-repeat  : no-repeat;
  background-position: 50%;
  background-size    : cover;
  position           : relative;
}

.hero__container {
  justify-content: center;
}

.hero__content {
  display       : flex;
  flex-direction: row;
  flex-grow     : 1;
  align-items   : center;
  padding-left  : 3%;
  @include tablets {
    width          : 100%;
    flex-direction : column;
    justify-content: center;
    text-align     : center;
  }
  @include phones {
      padding-left: 0;
  }  
}

.hero__big-burger {
  width: 50%;

  @include tablets {
      width: 100%;
  }  
}

.hero__big-burger-img {
  width    : 100%;
  max-width: 480px;
  @include tablets {
    max-width: 420px;
  }
  @include phones {
    max-width: 330px;
  }
  @include phones--small {
    max-width: 250px;
  }
  
}