.menu {
  background: url('../img/menu/menu-bg.jpg') center center / cover no-repeat;
}

.menu-acco {
	position: absolute;
	right   : 0;
	top     : 0;
	bottom  : 0;
	display : flex;
	// @include tablets {
	// 	right: 7%;
	// }
}

.menu-acco__item {
	height : 100%;
	display: flex;

	&.active {
		.menu-acco__trigger-text {
			color: $yellow;
		}
	}
}

.menu-acco__trigger {
	width          : rem(80px);
	display        : block;
	height         : 100%;
	text-decoration: none;
	position       : relative;
	&--meat {
		background: url('../img/menu/menu_trigger-meat.jpg') center center / cover no-repeat;
	}
	&--vegan {
		background: url('../img/menu/menu_trigger-vegan.jpg') center center / cover no-repeat;
	}
	&--diet {
		background: url('../img/menu/menu_trigger-diet.jpg') center center / cover no-repeat;
	}
}


.menu-acco__trigger-text {
  color           : #ffffff;
  font-family     : Gagalin;
  font-size       : rem(40px);
  font-weight     : 400;
  text-align      : center;
  white-space     : nowrap;
  position        : absolute;
  transform       : rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  left            : 50%;
  top             : 97%;
  // margin-top      : -rem(30px);
  transition: all .5s;
  &:hover {
    color: $yellow;
  }
}

.menu-acco__content {
	height    : 100%;
	background: rgba(#2f3234, .93);
	width     : 0;
	overflow  : hidden;
}

.menu-acco__content--active {
	display: block;
	width  : rem(500px);
	@include tablets {
		width: rem(340px);
	}
}

.menu-acco__content-text {
  color      : #fff;
  font-weight: 300;
  padding    : rem(60px) rem(30px);
}

.menu-acco__text {
	font-size  : rem(14px);
	color      : #fff;
	padding    : rem(60px) rem(30px);
	width      : 100%;
	line-height: 1.8;
	display    : none;
}
