.section {
  background-color: rgba(0,0,0,0.31);
  display         : flex;
  height          : 100vh;
  // min-height      : rem(650px);
  min-width: rem(940px);
  width    : 100%;
  position : relative;
}

.section__title {
  font-family  : Gagalin;
  font-size    : rem(72px);
  font-weight  : 400;
  line-height  : 1.42;
  margin-bottom: rem(20px);
  @include tablets {
    text-align: center;
  }
}

.section__title--hero, .section__title--team, .section__title--order {
  color: $yellow;
}

.section__title--hero {
	@include phones {
		font-size: rem(63px);
	}

	// @include phones--small {
	// 	font-size: 30px;
	// }  
}

.section__title--about, .section__title--menu, .section__title--order {
  @include phones {
    font-size: rem(50px);
  }
}

.section__title--menu {
  color   : #fff;
  position: absolute;
  top     : 10%;
  left    : 10%;
  @include tablets {
    top : 5%;
    left: 5%;
  }
}

.section__title--order {
  @include phones {

  }
}