.team {
  background: url('../img/team/team-bg.jpg') center center /cover no-repeat;
  position  : relative;
  // @include tablets {
  //   background: url('../img/team/team-bg-768.png') center center /cover no-repeat;
  // }
}

.team__container {
  position       : absolute;
  top            : 0;
  bottom         : 0;
  right          : 0;
  width          : 50%;
  background     : rgba(#2f3234, .93);
  padding-left   : 4%;
  display        : flex;
  flex-direction : column;
  align-content  : center;
  justify-content: center;
  // padding-top   : 50px;
  @include tablets {
    width       : 100%;
    padding-left: 0;
    align-items : center;
  }
}

.team-acco__content {
  display : flex;
  height  : 0;
  overflow: hidden;
  @include tablets {
    flex-direction: column;
    align-items   : center;
  }
}

.team-acco__item {
  margin-bottom: rem(40px);
}

.team-acco__item--active {
  .team-acco__trigger {
    color: $yellow;
    &:before {
      transform: rotate(180deg);
    }
  }
  .team-acco__content {
    height: auto;
  }

}

.team-acco__trigger {
  color          : #fff;
  display        : flex;
  align-items    : center;
  text-decoration: none;
  text-transform : uppercase;
  font-family    : Gagalin;
  font-size      : rem(14px);
  font-weight    : 400;
  margin-bottom  : rem(17px);
  @include tablets {
    font-size      : rem(24px);
    justify-content: center;
  }

  &:before {
    content            : "";
    display            : block;
    height             : 0;
    width              : 0;
    border             : 5px solid transparent;
    border-top-color   : $yellow;
    border-bottom-width: 0px;
    margin-right       : rem(10px);
    // @include tablets {
    //   border: 9px solid transparent;
    // }
      
  }
}

.team-acco__photo {
  width         : rem(100px);
  height        : rem(100px);
  overflow      : hidden;
  border-radius : 50%;
  display       : inline-block;
  vertical-align: top;
  margin-right  : rem(25px);
  @include tablets {
    margin-bottom: 5px;
  }
}

.team-acco__photo-img {
  max-width: 95%;
  height   : auto;
}

.team-acco__text {
  color: #fff;
  width: 50%;
  @include tablets {
    width     : 70%;
    text-align: center;
  }
}

.team-acco__text-title {
  font-weight: 700;
  @include tablets {
    margin-bottom: 5px;
  }

}

.team-acco__text-content {
  font-weight: 300;
}
