.burger {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
  position       : relative;
  // outline        : 1px solid red;
  @include tablets {
    flex-direction: column;
  }
}

.burger__picture {
  width: 50%;
  // outline: 1px solid wheat;
  @include tablets {
    width: 80%;
  }
  @include phones {
    width: 90%;
  }
}

.burger__description {
  width: 49%;
  // outline: 1px solid wheat;
  @include tablets {
    width: 80%;
  }
  @include phones {
    width: 90%;
  }
}

.burger__img {
  width: 100%;
}

.burger__text {
  color        : #ffffff;
  font-size    : rem(14px);
  font-weight  : 300;
  line-height  : rem(23.97px);
  margin-bottom: rem(36px);
}

.burger__price {
  display       : inline-block;
  color         : $orange-light;
  font-family   : Gagalin;
  font-size     : rem(72px);
  font-weight   : 400;
  line-height   : rem(28.08px);
  letter-spacing: -1.79px;
  margin-right  : rem(30px);
}

.burger__currency {
  font-size     : rem(30px);
  letter-spacing: -0.75px;
}

.burger__order-link {
  display: inline-block;
}

.burger__composition {
  color           : #fff;
  border-radius   : 5px;
  background      : url("../img/burgers/burger.svg") center 14px no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-color: rgba(228,80,40,0.4);
  position        : absolute;
  top             : -80px;
  left            : 0;
  width           : 90px;
  height          : 90px;
  transition      : all 0.5s;
  text-decoration : none;
  &:hover {
    background-color: #e45028;
  }
  &:hover .burger__ingredients-list {
    width  : 270px;
    padding: 15px 20px;
  }

  @include tablets {
    top: -50px;
  }
  @include phones {
    top : -70px;
    left: 0;
  }
}

.burger__ingredients {
  color         : #ffffff;
  font-family   : Gagalin;
  font-size     : rem(14px);
  font-weight   : 400;
  line-height   : rem(28.11px);
  padding-top   : rem(63px);
  text-align    : center;
  text-transform: uppercase;
}

.burger__ingredients-list {
  border-radius   : 5px;
  background-color: rgba(255,255,255,0.9);
  position        : absolute;
  top             : 0px;
  left            : 90px;
  width           : 0;
  color           : #2f3234;
  font-size       : 0.875rem;
  padding         : 15px 0;
  overflow        : hidden;
  white-space     : nowrap;
  cursor          : auto;
  transition      : all 0.5s;
}

.burger__ingredients-item {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

.burger__ingredients-icon {
  display       : inline-block;
  vertical-align: middle;
  width         : 50px;
  margin-right  : 20px;
  text-align    : center;
}

.burger__ingredients-meal {
  color         : $dark;
  font-family   : Ubuntu;
  font-size     : 14px;
  font-weight   : 500;
  line-height   : 24px;
  display       : inline-block;
  vertical-align: middle;
  width         : 60px;
  margin-right  : 50px;
  text-align    : left;
}

.burger__ingredients-weight {
  display       : inline-block;
  vertical-align: middle;
  text-align    : right;
  min-width     : 40px;
  color         : $dark;
  font-family   : Ubuntu;
  font-size     : 14px;
  font-weight   : 300;
  line-height   : 24px;
}

.burger__calories {
  font-family   : Gagalin;
  color         : #fff;
  opacity       : 0.5;
  font-size     : rem(20px);
  font-weight   : 400;
  line-height   : rem(30px);
  text-transform: uppercase;
  background    : url("../img/burgers/kkal.svg") no-repeat;
  position      : absolute;
  bottom        : -30px;
  width         : 62px;
  height        : 62px;
  padding-top   : 26px;
  text-align    : center;
  @include tablets {
    right: 0;
    top  : -50px;
  }
  @include phones {
    top  : -70px;
    right: 0;
  }
}

.burger__calories-unit {
  font-size: rem(14px);
}