.header {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  padding-top    : rem(10px);
  width          : 100%;
}

// .header__menu {
//   margin-right: 11px;
// }