body {
  color      : $dark;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

.wrapper {
  position: relative;
  width   : 100%;
  // width: 100vw;
  // min-width : rem(940px) + rem(20px);
  min-height: 100%;
  overflow  : hidden;

  // Для OnePageScroll
  height: 100%;
}

.container {
  margin         : 0 auto;
  max-width      : 940px;
  width          : 97%;
  height         : 100%;
  position       : relative;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  
  // outline: 1px solid red;
}

// Для OnePageScroll
.maincontent {
  height: 100%;
  // min-height: 640px;
  transition: 0.8s;
}
