body {
  color      : $dark;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

// .wrapper {
//   height   : 100%;
//   min-width: 940px+20px;
//   // min-height: 100%;
//   // overflow: hidden;
//   width: 100%;
// }

.wrapper {
  position: relative;
  width   : 100%;
  // width: 100vw;
  // min-width : rem(940px) + rem(20px);
  min-height: 100%;
  overflow  : hidden;
}

.container {
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
  outline        : 1px solid red;
  margin         : 0 auto;
  max-width      : rem(940px);
  @include tablets {
    max-width: rem(700px);
  }
  position: relative;
  width   : 95%;
}

// .maincontent {
//   height    : 100%;
//   min-height: 650px;
// }

