.footer {
  position        : absolute;
  bottom          : 0;
  width           : 100%;
  background-color: #101010;
  background      : url('../img/footer/footer-bg.jpg') center center / cover no-repeat;
  height          : 60px;
}

.footer__content {
  display       : flex;
  flex-direction: row;
  width         : 100%;
}

.footer__contacts {
  font-size  : 14px;
  font-weight: 300;
  color      : #ffffff;
  line-height: 24px;
  width      : 50%;
}

.footer__phone {
  color          : $orange;
  font-weight    : 700;
  text-decoration: none;
}

.footer__socials {
  display: flex;
  width  : 50%;
}
