@mixin circle($width, $color) {
  width           : $width;
  height          : $width;
  border-radius   : $width/2;
  background-color: $color;
}

@mixin round($width, $color) {
  border       : 1px solid $color;
  width        : $width;
  height       : $width;
  border-radius: $width/2;
}

%center-block {
  position : absolute;
  top      : 50%;
  left     : 50%;
  transform: translate(-50%, -50%);
}

// for responsive
@function rem($px) {
  @return $px / 16px+0rem;
}

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}


@mixin phones--small{
  @media screen and (max-width: 375px){
      @content;
  }
}

@mixin tablets--big{
  @media screen and (max-width: 920px){
      @content;
  }
}

