.nav {
  margin-right: rem(11px);
}

.nav__item {
  display       : inline-block;
  vertical-align: middle;
  white-space   : nowrap;
  &:after {
    display       : inline-block;
    vertical-align: middle;
    content       : '';
    @include circle(5px, #fff);
    margin: 0 rem(23px);
    // @include tablets--big {
    //   margin: 0 5px;
    // }
  }
  &:last-child:after {
    display: none;
    // font-size: rem(13px);
  }
  // font-size: 0;
}

.nav__link {
  display: inline-block;
  color  : #ffffff;
  // font-family    : Ubuntu;
  font-size      : rem(13px);
  font-weight    : 500;
  text-transform : uppercase;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

