.about {
  background-image   : url("./../img/about/about-bg.jpg");
  background-repeat  : no-repeat;
  background-position: center bottom;
  background-size    : cover;
  position           : relative;
  // @include tablets {
  //   background-image: url("./../img/about/about-bg-768.png");
  // }
}


.section__title--about {
  color        : $dark;
  font-family  : Gagalin;
  font-size    : rem(72px);
  font-weight  : 400;
  line-height  : rem(64px);
  text-align   : center;
  margin-bottom: rem(54px);
  // padding-top: 130px;
}