.features__list {
  display        : flex;
  justify-content: space-between;
  @include phones {
    flex-direction: column;
  }
}

.features__item {
  text-align: center;
  // width     : calc(100%/3);
  width: 32%;
  // outline: 1px solid black;
  @include phones {
    display        : flex;
    flex-direction : row;
    width          : 100%;
    justify-content: flex-start;
    margin-bottom  : rem(20px);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.features__icon + div {
  @include phones {
    width     : 70%;
    text-align: left;
  }
}

.features__icon {
  margin-bottom: rem(20px);
  @include phones {
    margin-bottom: 0;
    width        : 30%;
  }
}

.features__img {
  display: inline-block;
}


.features__item h3 {
  color         : $dark;
  font-family   : Lifehack;
  font-size     : rem(24px);
  font-weight   : 500;
  line-height   : rem(28px);
  letter-spacing: -0.6px;
  margin-bottom : rem(10px);
}

.features__item p {
  // min-width  : rem(284px);
  opacity    : 0.8;
  color      : $dark;
  font-family: Ubuntu;
  font-size  : rem(14px);
  font-weight: 300;
  // line-height: 24px;
  // @include tablets {
  //   min-width: rem(217px);
  // }

}

// .features__description {
//   min-width  : 284px;
//   opacity    : 0.8;
//   color      : $dark;
//   font-family: Ubuntu;
//   font-size  : 14px;
//   font-weight: 300;
//   line-height: 24.02px;
// }
