.features__list {
  display        : flex;
  justify-content: space-between;
}

.features__item {
  text-align: center;
}

.features__icon {
  margin-bottom: rem(20px);
}

.features__img {
  display: inline-block;
}


.features__item h3 {
  color         : $dark;
  font-family   : Lifehack;
  font-size     : rem(24px);
  font-weight   : 500;
  line-height   : rem(28px);
  letter-spacing: -0.6px;
  margin-bottom : rem(10px);
}

.features__item p {
  min-width  : rem(284px);
  opacity    : 0.8;
  color      : $dark;
  font-family: Ubuntu;
  font-size  : rem(14px);
  font-weight: 300;
  line-height: 24px;
}

// .features__description {
//   min-width  : 284px;
//   opacity    : 0.8;
//   color      : $dark;
//   font-family: Ubuntu;
//   font-size  : 14px;
//   font-weight: 300;
//   line-height: 24.02px;
// }
